.card>img {
    margin: 0.8rem;
    padding: 0.8rem;
    height: 20vh;
    object-fit: contain;
}

.text-color-black {
    color: black;
}

.body-main {
    min-height: 960px;
}

.add-cart-button {
    height: 3rem;
}

.cart-img {
    width: 33%;
    object-fit: contain;
    min-width: 10rem;

}
.sum-box{
    width: 20rem;
    height: 30rem;
}